---
import "../styles/global.css";
// Component Imports
import { Entropy } from "@/components/ui/entropy";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <div class="grid place-items-center h-screen content-center">
      <p class="p-4 text-black-100">react component</p>
      <Entropy className="rounded-lg" client:load />
      <a href="/markdown-page" class="p-4 underline"
        >Markdown is also supported...</a>
      <p>now i need menu</p>
    </div>
  </body>
</html>
