---
import Sidebar from "../components/AppSidebar.tsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>你的网站标题</title>
  </head>
  <body>
    <div class="container">
      <Sidebar pathname={Astro.url.pathname} client:load />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  .container {
    display: flex;
  }

  main {
    flex: 1;
    padding: 1rem;
  }
</style>
